<section class="brands-section pt-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="single-brands">
                    <img src="assets/images/brands/graygrids.svg" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="single-brands">
                    <img src="assets/images/brands/lineicons.svg" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="single-brands">
                    <img src="assets/images/brands/uideck.svg" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="single-brands">
                    <img src="assets/images/brands/pagebulb.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
