<!-- ========================= footer start ========================= -->
<footer class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7">
                <div class="section-title">
                    <h2>Subscribe Newsletter</h2>
                    <p>Be the first to hear about our product updates and services</p>
                </div>
                <div class="newsletter-form-wrapper">
                    <form action="#">
                        <input type="email" placeholder="Email Address">
                        <button class="main-btn btn-hover">Subscribe Now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-8">
                <div class="footer-menu">
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#testimonials">Testimonials</a></li>
                        <li><a href="#pricing">Pricing</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-4">
                <div class="footer-social">
                    <ul>
                        <li><a href="#0"><i class="lni lni-facebook"></i></a></li>
                        <li><a href="#0"><i class="lni lni-linkedin"></i></a></li>
                        <li><a href="#0"><i class="lni lni-instagram"></i></a></li>
                        <li><a href="#0"><i class="lni lni-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ========================= footer end ========================= -->

