<section id="home" class="hero-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-10">
        <div class="hero-content">
          <h1>Your Automated<span>Shopping Assistant</span></h1>
          <p>
            Waffles Chat Bot is designed for e-commerce fashion stores to
            provide personalized guidance to women while they shop
            online. It offers real time responses,style recommendations as well as accurate sizing for different products.
          </p>

          <a href="#0" class="main-btn btn-hover">Get Started</a>
        </div>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 offset-xxl-1">
        <div class="hero-image" style="margin-top: 2rem;">
          <img src="assets/images/hero/hero-video.gif" alt=""/>
        </div>
      </div>
    </div>
  </div>
</section>
