<section id="home" class="hero-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-10">
          <div class="hero-content">
                          <h1>A.I powered <span>Shopping Assistant</span></h1>
                          <p>The Waffles Chat Bot is designed for e-commerce fashion stores to provide personalized shopping guidiance to women while shopping online.
                            offers style recommendations, accurate sizing</p>
                          
                          <a href="#0" class="main-btn btn-hover">Get Started</a>
          </div>
                  </div>
                  <div class="col-xxl-6 col-xl-6 col-lg-6 offset-xxl-1">
                      <div class="hero-image text-center text-lg-start">
                          <img src="assets/images/hero/new-hero-image.svg" alt="">
                      </div>
                  </div>
      </div>
          </div>
  </section>
