<div id="pricing">   
    <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--PRICE HEADING START-->
                        <div class="price-heading clearfix">
                            <h2>Our plans</h2>
                        </div>
                        <!--//PRICE HEADING END-->
                    </div>
                </div>
            </div>
            <div class="container">
                
                <!--BLOCK ROW START-->
                <div class="row">
                    <div class="col-md-4">
                    
                      <!--PRICE CONTENT START-->
                        <div class="generic_content clearfix">
                            
                            <!--HEAD PRICE DETAIL START-->
                            <div class="generic_head_price clearfix">
                            
                                <!--HEAD CONTENT START-->
                                <div class="generic_head_content clearfix">
                                
                                  <!--HEAD START-->
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Basic</span>
                                    </div>
                                    <!--//HEAD END-->
                                    
                                </div>
                                <!--//HEAD CONTENT END-->
                                
                                <!--PRICE START-->
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                        <span class="sign">$</span>
                                        <span class="currency">50</span>
                                        <!-- <span class="cent">.99</span> -->
                                        <span class="month">/MON</span>
                                    </span>
                                </div>
                                <!--//PRICE END-->
                                
                            </div>                            
                            <!--//HEAD PRICE DETAIL END-->
                            
                            <!--FEATURE LIST START-->
                            <div class="generic_feature_list">
                              <ul>
                                    <li>One-time integration fee of $20</li>
                                    <li>Up to 25 enquiries per session</li>
                                    <li>Accurate Fit recommendations</li>
                                    <li>Real-time support</li>
                                </ul>
                            </div>
                            <!--//FEATURE LIST END-->
                            
                            <!--BUTTON START-->
                            <div class="generic_price_btn clearfix">
                              <a class="" href="">Sign up</a>
                            </div>
                            <!--//BUTTON END-->
                            
                        </div>
                        <!--//PRICE CONTENT END-->
                            
                    </div>
                    
                    <div class="col-md-4">
                    
                      <!--PRICE CONTENT START-->
                        <div class="generic_content active clearfix">
                            
                            <!--HEAD PRICE DETAIL START-->
                            <div class="generic_head_price clearfix">
                            
                                <!--HEAD CONTENT START-->
                                <div class="generic_head_content clearfix">
                                
                                  <!--HEAD START-->
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Standard</span>
                                    </div>
                                    <!--//HEAD END-->
                                    
                                </div>
                                <!--//HEAD CONTENT END-->
                                
                                <!--PRICE START-->
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                        <span class="sign">$</span>
                                        <span class="currency">119</span>
                                        <!-- <span class="cent">.99</span> -->
                                        <span class="month">/mon</span>
                                    </span>
                                </div>
                                <!--//PRICE END-->
                                
                            </div>                            
                            <!--//HEAD PRICE DETAIL END-->
                            
                            <!--FEATURE LIST START-->
                            <div class="generic_feature_list">
                              <ul>
                                    <li> Free integration to e-commerce store </li>
                                    <li> Up to 100 enquiries per session</li>
                                    <li> Integration to calendaly for virtual fitting</li>
                                    <li> Fit finder</li>
                                    <li> Sentiment Analysis</li>
                                    <li> Customer behaviour insight</li>
                                </ul>
                            </div>

                            <!--//FEATURE LIST END-->
                            
                            <!--BUTTON START-->
                            <div class="generic_price_btn clearfix">
                              <a class="" href="">Sign up</a>
                            </div>
                            <!--//BUTTON END-->
                            
                        </div>
                        <!--//PRICE CONTENT END-->
                            
                    </div>
                    <div class="col-md-4">
                    
                      <!--PRICE CONTENT START-->
                        <div class="generic_content clearfix">
                            
                            <!--HEAD PRICE DETAIL START-->
                            <div class="generic_head_price clearfix">
                            
                                <!--HEAD CONTENT START-->
                                <div class="generic_head_content clearfix">
                                
                                  <!--HEAD START-->
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Unlimited</span>
                                    </div>
                                    <!--//HEAD END-->
                                    
                                </div>
                                <!--//HEAD CONTENT END-->
                                
                                <!--PRICE START-->
                                <div class="generic_price_tag clearfix">  
                                    <span class="price">
                                        <span class="sign">$</span>
                                        <span class="currency">500</span>
                                        <span class="month">/mon</span>
                                    </span>
                                </div>
                                <!--//PRICE END-->
                            </div>                            
                            <!--//HEAD PRICE DETAIL END-->
                            
                            <!--FEATURE LIST START-->
                            <div class="generic_feature_list">
                                <ul>
                                    <li> Everything in standard plans</li>
                                    <li> Customizable interface</li>
                                    <li> Dedicated server</li>
                                    <li> Modify knowledgebase</li>
                                    <li> Up to 500 enquiries per session</li>
                                    <li> Dedicated customer representative</li>
                                    <li> Integration to whatsapp or telegram</li>
                                    <li> Feature requests </li>
                                    <li> In-chat shopping </li>
                                </ul>
                            </div>
                            <!--//FEATURE LIST END-->
                            
                            <!--BUTTON START-->
                            <div class="generic_price_btn clearfix">
                              <a class="" href="">Sign up</a>
                            </div>
                            <!--//BUTTON END-->
                            
                        </div>
                        <!--//PRICE CONTENT END-->
                            
                    </div>
                </div>  
                <!--//BLOCK ROW END-->
                
            </div>
        </section>             
    </div>