<div id="testimonials">
  <div class="container _tm-header">
    <h1 class="text-center">Client Testimonials</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3">
        <div class="card">
          <div style="text-align: center;">
            <img
              class="card-img-top"
              src="../../../assets/images/testimonial/Testimonial-1.svg"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <p class="card-text">
              “ I have already seen an immense growth in revenue since integrating the Waffles Bot. “
            </p>
            <a href="#" class="">Chechi Arinze</a>,
            <span class="_tm-user-role">Founder</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="card">
          <div style="text-align: center;">
            <img
              class="card-img-top"
              src="../../../assets/images/testimonial/Testimonial-2.svg"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <p class="card-text">
            Our fashion store has seen a significant decrease in abandoned carts thanks to this amazing plugin.
            </p>
            <a href="#" class="">Vicky Pundit</a>,
            <span class="_tm-user-role">Sales Executive</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="card">
          <div style="text-align: center;">
            <img
              class="card-img-top"
              src="../../../assets/images/testimonial/Testimonial-3.svg"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <p class="card-text">
                The support team was incredibly helpful in customizing the chat bot to our specific needs.
            </p>
            <a href="#" class="">Lothar Gomez</a>,
            <span class="_tm-user-role">Marketing manager</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3">
        <div class="card">
          <div style="text-align: center;">
            <img
              class="card-img-top"
              src="../../../assets/images/testimonial/Testimonial-4.svg"
              alt="Card image cap"
            />
          </div>
          <div class="card-body">
            <p class="card-text">
                In just 2 months Waffles has increased our customer retention by 150%. 
            </p>
            <a href="#" class="">Faizer Brown</a>,
            <span class="_tm-user-role">Founder Faizer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
